# Wszystkie pliki tekstowe są normalizowane do LF w repozytorium
* text=auto

# Skrypty wsadowe Windows zawsze będą miały CRLF lokalnie
*.bat eol=crlf

# Skrypty powłoki Unix zawsze będą miały LF lokalnie
*.sh eol=lf

# Aby odświeżyć i ujednolicić wszystkie pliki zgodnie z nowymi regułami, należy użyć
# git add --renormalize .

# Możesz sprawdzić, jakie końce linii są obecnie stosowane dla poszczególnych plików
# w indeksie oraz w folderze roboczym, używając polecenia:
# git ls-files --eol

# Wynik pokaże status końców linii
# w indeksie (i/),
# folderze roboczym (w/)
# oraz zastosowane atrybuty (attr/)


indent_style = space # Określa, czy edytor ma używać spacji, czy tabulatorów.
indent_size = 4 # Standardowa szerokość wcięcia (często stosowana w Pythonie).
charset = utf-8 # Wymusza kodowanie znaków, co zapobiega problemom z wyświetlaniem polskich liter.
trim_trailing_whitespace = true # Automatycznie usuwa spacje na końcach linii podczas zapisu.
insert_final_newline = true # Zapewnia, że każdy plik kończy się pustą linią (częsty wymóg standardów POSIX i linterów).
